.App {
  height: 100vh;
  padding: 100px 50px 100px 50px;
}

h1,h2,h3,h4,h5{
  margin:  unset !important;
}

.wallets-transactions{
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;;
}

.divider-height{
  height: 100% !important;
}


.ant-form-inline {
 
  justify-content: space-between;
}

.title{
  width: 170px;
}